<h2>You've been signed up at workplace.com</h2>

<p>This notification serves to let you know that someone signed up for workplace.com using your email (@email). If this was you then you can ignore this email.</p>