/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.datetimepicker
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
}

h1 {
    margin: 0;
    padding: 25px 0 0 0;
    background: rgb(0, 188, 222);
    background: rgba(0, 188, 222, 1);
    text-align: center;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 5em;
    font-weight: 800;
}

.flash, .alert {
    position: absolute;
    margin: 0;
    line-height: 30px;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: auto;
    background: rgb(100, 197, 50);
    background: rgba(100, 197, 50, 1);
    text-align: center;
}

#menu_button {
    position: fixed;
    top: 0;
    left: 0;
    width: 48px;
    margin: 0 0 0 10px;
    fill: rgb(0, 134, 158);
    z-index: 2;
    cursor: pointer;
}

#menu_button:hover {
    fill: rgb(255, 255, 255);
}

@media screen and (orientation:landscape) {
    nav {
        background: rgb(20, 20, 80);
        background: rgba(20, 20, 80, 1);
        text-align: left;
        position: fixed;
        top: 0;
        left: -200px;
        width: 200px;
        height: 100%;
        padding: 48px 0 0 0;
    }

    nav a {
        color: rgb(255, 255, 255);
        color: rgba(255, 255, 255, 1);
        display: block;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        padding: 10px 0 0 10px;
        font-size: 1.25em;
    }

    nav a.active {
        color: rgb(0, 165, 195);
        color: rgba(0, 113, 134, 1);
    }

    nav a:hover {
        color: rgb(0, 165, 195);
        color: rgba(0, 113, 134, 1);
    }
}

#daraul_promotion_link {
    position: fixed;
    right: 0;
    bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75em;
    margin: 0 10px 10px;
}