// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.center {
    -webkit-column-count: 1;
    -moz-column-count: 1; //I hate that you have to do this shit
    column-count: 1;
    width: 50%;
    margin: 0 auto;
}

ul {
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
}

ul li {
    list-style-type: none;
    
}

ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85em;
    line-height: 30px;
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

ul li a.delete {
    font-size: 0.5em;
}